<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title | default: site.github.repository_name }}</title>
    <style>
      html {font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-size: 14px; line-height: 1.5; background-color: #201c1b; color: #bebebe;}
    </style>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% feed_meta %}
  </head>
  <body>
    <div class="container content">
      <header>
        <h1><a id="home" href="http://www.marcvd.me">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
      </header>
      <section>
      
      {{ content }}
      
      </section>
    </div>
    <footer class="main">
      <p><small>Hosted on GitHub Pages</small></p>
    </footer>
  </body>
</html>
