---
layout: default
---

<div class="home">

  {{ content }}
  
  <div class="post-list">
    {% for post in paginator.posts %}
      <article class="post">
        <header class="post-header">
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
        </header>
        
        <section class="post-content">
          {{ post.content }}
        </section>
        
        <footer class="post-meta">
          <small class="posted-on"><time datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time></small>
          <small class="cat-links">{{ post.category }}</small>
        </footer>
      </article>
    {% endfor %}
  </div>
  
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Vorherige Seite</a>
	  {% else %}
		  <span class="previous">Vorherige Seite</span>
	  {% endif %}
    
	  <span class="page-number">{{ paginator.page }} / {{ paginator.total_pages }}</span>
	  
    {% if paginator.next_page %}
		  <a href="{{ paginator.next_page_path }}" class="next">Nächste Seite</a>
	  {% else %}
		  <span class="next">Nächste Seite</span>
	  {% endif %}
  </div>
</div>
