---
layout: default
---

<div class="home">

  {{ content }}
  
  <h1 class="page-heading">Posts</h1>

  <div class="post-list">
    {% for post in site.posts %}
      <article class="post">
        <header class="post-header">
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
        </header>
        
        <div class="content">
          {{ post.content }}
        </div>
        
        <footer class="post-meta">
          <small><b>Posted on:</b>{{ post.date | date: "%b %-d, %Y" }}</small>
        </footer>
      </article>
    {% endfor %}
  </div>
</div>
