---
layout: page
---

  <div class="post">
     <article class="post">
        <header class="post-header">
          <h2>
            <a class="post-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
          </h2>
        </header>
        
        <section class="post-content">
          {{ content }}
        </section>
        
        <footer class="post-meta">
          <small class="posted-on"><time datetime="{{ page.date }}">{{ page.date | date: "%b %-d, %Y" }}</time></small>
          <small class="cat-links">{{ page.category }}</small>
        </footer>
    </article>
  </div>
